#toolbar{
  background: transparent!important;
  text-align: start!important;
  padding-top: 10px!important;
  margin-left: 10px!important;
}

.logoDiv{
  width:200px!important;
}

.logoImg{
  width:200px!important;
  border-radius: 5px!important;
  box-shadow: 3px 9px 10px -2px black !important;
}