.saveDialogDiv{
  width:100%!important;
  text-align: center!important;;
}

.saveDialoglogoImg{
  width:200px!important;
  border-radius: 5px!important;
  // box-shadow: 3px 9px 10px -2px black !important;
}